.transition {
      width: 90%;
      margin-left: 5vw;
      margin-top: 1.5vw
}

.transition_heading {
      font-size: 1.4vw;
      font-weight: 600;
      padding-left: .5vw
}

.table_headDiv {
      display: flex;
      align-items: center;
      justify-content: space-between
}

.table_head_name {
      font-size: 1vw;
      font-weight: 600
}

.logo {
      width: 1.2vw;
      height: 1vw
}